<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MY BANK</title>

    <!-- Bootstrap Core CSS -->
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="resources/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="resources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>My Bank</h1>
            <br>
            <table border="1" style="width:50%">
            
            <tr>
            <th>Accounts</th>
            <th>Balance</th>
            </tr>
            
  			{%  for cuenta in listacuentas %}
  			<tr>
  				<td>{{ cuenta.number }}</td>
  				<td>{{ cuenta.balance }} </td>
  			</tr>
  			{% endfor %}
			</table>
           
        </div><br>
            <a href="../banco" class="btn btn-dark btn-lg">HOME</a>
        
    </header>
</body>
</html>